extends ./layout.jade


//- block link
  //- a.new_post(href="/new_blog") NEW BLOG

block homepage
  div.sign_in
    //- a(href="https://api.instagram.com/oauth/authorize/?client_id=6ef3fe178e4a46f58ae6f7c4efc4ce8f&redirect_uri=https://icymi.ngrok.com/instagram&response_type=code&scope=likes+comments")
      | Login with Instagram
    h1 ICYMI
    h4 In Case You Missed It
    a.login(href="/auth/instagram")
      i(class="fa fa-instagram")
      |  Login with Instagram

