doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name ="viewport" content="width=device-width, initial-scale=1.0" )
    title 
      block title
       |In Case You Missed It
    script(src="/bower_components/modernizr/modernizr.js")
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css') 
    link(rel="stylesheet" href="/css/jquery.oembed.css")
    link(rel="stylesheet" href="/css/styles.css")

  body
    header#page_header

      div.title
        a(href="/") ICYMI

    block homepage

    block twitter_feed

    block instagram_feed    


  script(src="/bower_components/foundation/js/vendor/jquery.js")
  script(src="/bower_components/foundation/js/foundation.min.js")
  script $(document).foundation();
  script(src="/js/jquery.oembed.js")
  script(src="/js/client.js")