@import "partials/settings";
@import "../public/bower_components/foundation/scss/foundation.scss";

// font weight
$font-bold: 700;
$font-semibold: 600;
$font-light: 100;

// fonts
$oleo: 'Oleo Script', cursive;
$lato: 'Lato', sans-serif;
$play: 'Play', sans-serif;
$exo: 'Exo 2', sans-serif;
$josefin: 'Josefin Slab', serif;
$opensans: 'Open Sans', sans-serif;
